:root {
  --background-color: #fffeee;
  --background-color2: #fffeeed2;
  --primary-color: rgb(163, 116, 28);
  --secondary-color: rgb(5, 160, 160);
}

body {
  margin: 0;
  background: linear-gradient(
      rgba(155, 155, 155, 0.5),
      rgba(155, 155, 155, 0.5)
    ),
    url("/public/images/zellige(1).png");
  background-attachment: fixed;
  font-family: "Libre Bodoni", serif;
  min-height: 100vh;
}

.app-container {
  max-width: 1600px;
  margin: 10px auto;
  background-color: var(--background-color2);
  border-radius: 40px 40px 0 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.main-content {
  padding: 2rem;
  min-height: calc(100vh - 120px);
}

@media (max-width: 768px) {
  body {
    padding: 0;
    background-attachment: scroll;
  }

  .app-container {
    border-radius: 0;
  }

  .main-content {
    padding: 1rem;
  }
}
